* {
    margin: 15px auto;
    box-sizing: border-box;
    padding: 0;
    max-width: 1440px;
}
    .col-1 {
        width: 8.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-2 {
        width: 16.66%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-3 {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-5 {
        width: 41.66%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-7 {
        width: 58.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-8 {
        width: 66.66%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-9 {
        width: 75%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-10 {
        width: 83.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-11 {
        width: 91.66%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-12 {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .container {
        max-width: 1440px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 12px;
        padding-left: 12px;
        display: flex;
        flex-wrap: wrap;
        
    }


body {
    font-family: 'ClashGrotesk-Variable';
    background-color: ;
}



/* .main{
    background-color: aquamarine;
    height: 100vh;
    display: flex; */

/* flex-direction: row;
    /* flex-direction: row | row-reverse | column | column-reverse; */

/* justify-content: center; */
/* justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly; */

/* align-items: center;/*Single Group Vertically */
/* align-items: flex-start | flex-end | center; */

/* flex-wrap: wrap-reverse; */
/* flex-wrap: nowrap | wrap | wrap-reverse; */

/* flex-flow: column wrap;     */
/* flex-flow: flex-direction + flex-wrap; */

/* align-content: flex-start; Multiple Group Vertically */
/* align-content: space-evenly | flex-end | center | space-between | space-around | space-evenly; */
/* } */

/* .content {
    height: 400px;
    background-color: aquamarine;
    display: flex;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
} */
/* .lh-3{
    line-height: 3;
}
.item-1 {
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    border: 2px solid black;
}

.item-2 {
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    border: 2px solid black;
}

.item-3 {
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    border: 2px solid black;
}

.item-4 {
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    border: 2px solid black;

} */
div{
    display: flex;
    align-items: center;

   
}
.nevbar{
    display:flex;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.menu-navbar a{
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    font-weight: 700;
}
a{
    display: flex;
    margin-left: 20px;
}