/* =====================veriable========================== */
:root{
    --primary: #B4E925;
    --black:#000000;
    --white:#ffffff;
    --text-light:#E0E0E0;
    --text-dark:#5E5E5E;
    --text-09:#090909;
    --header-font: 'ClashGrotesk';
}
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;    
}
body{
    color: #ffffff;
    font-family: 'Poppins';
    padding: 0px 0px;
    background-color: #090909;
}
.d-flex{
    display: flex;
}
.container{
    max-width: 1200px;
    /* padding-left: 20px;
    padding-right: 20px; */
    margin-right: auto;
    margin-left: auto;  
}
    .row{
        height: min-content;    
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;    
        margin-left: -20px;
        margin-right: -20px;
        align-content: center;
        padding: 16px 0;
    }
.col-1{width: 8.33%;padding-left: 12px;padding-right: 12px;}
.col-2{width: 16.66%;padding-left: 12px;padding-right: 12px;}
.col-3{width: 25%;padding-left: 12px;padding-right: 12px;}
.col-4{width: 33.33%;padding-left: 12px;padding-right: 12px;}
.col-5{width: 41.66%;padding-left: 12px;padding-right: 12px;}
.col-6{width: 50%;padding-left: 12px;padding-right: 12px;}
.col-7{width: 58.33%;padding-left: 12px;padding-right: 12px;}
.col-8{width: 66.66%;padding-left: 12px;padding-right: 12px;}
.col-9{width: 75%;padding-left: 12px;padding-right: 12px;}
.col-10{width: 83.33%;padding-left: 12px;padding-right: 12px;}
.col-11{width: 91.66%;padding-left: 12px;padding-right: 12px;}
.col-12{width: 100%;padding-left: 12px;padding-right: 12px;}

/* ========================header============================ */

nav ul{
    display:flex ;
}   
nav ul li{
    display:flex;
    list-style: none;
    justify-content: space-between;
    height: min-content;
    color: #ffffff;
    font-weight: 600;
    gap: 40px;

}
nav ul li:hover{
    color: var(--primary);
}   
.btn a {
    display:flex;
    align-items: center;
    padding: 8px 18px;
    gap: 10px;
    font-weight: 500;
    background-color: #B4E925;
    border-radius: 50px;
    color: #000000;
    transition: all 0.5s;
}
.btn a:hover{
    color:#090909;
    background-color: #ffffff;
    padding: 8px 18px;
    border-radius: 50px;
    align-items: center;    
}

.header-btn span{
    opacity: 0.1;
}
.main{
    border-bottom: 1px solid #ffffff14  ;
    width: 100%;
    padding: 0 20px;
}
.wrapper{
    height: max-content;
    border: 1px solid #ffffff14;
    margin: 10px;
    border-radius: 7px;
    background-image: url("../images/background.jpg");
    background-size:cover;

}
/* =============================banner============================== */
.banner{
    padding: 80px 0 40px;
}
.banner .banner-btn{
    display: inline-block   ;
    /* padding: 18px 28px; */
    font-size: 20px;
    font-weight: 500;
    gap: 15px;
    margin-top: 40px;
}
.heading p{
    display: flex;
    font-family: var(--header-font);
    color: var(--primary);
    border-radius:20px ;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: #252525;
    height: max-content;
    width: max-content;
    /* gap: 10px; */
    margin-bottom: 20px;
    padding: 7px 15px;
}
.heading h1{
    text-transform: uppercase;
    font-family: var(--header-font);
    font-size: 80px;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 20px;
}
.heading h3{
    font-size: 25px;
    font-weight: 400;
}
.btn-2 a{
   background-color: transparent; 
   color: white;
   border: 1px solid  gray;
}
.banner-btn span{
    opacity: 0.1;
}
.clients{
    margin-top:40px;
    margin-bottom: 80px;
    display: flex;
}
.clients img{
    width: 25px;
    margin-right: -10px;
}
.clients p{
    margin-left: 20px;
    font-size: 18px;
}
.banner-logo{
    display: flex;
    justify-content: space-between;
}
/* ===================Services================= */
.button-2 p:first-child{
    font-family: var(--header-font);
    color: var(--primary);
    border-radius:15px ;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #252525;
    height: max-content;
    width: max-content;
    padding: 7px 15px;
    margin-top:160px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.heading-h2 h2{
    text-transform: uppercase;
    font-family: var(--header-font);
    font-size: 55px;
    font-weight: 600;
    text-align: center;
    line-height: 55px;
    margin: 30px auto;
    max-width: 60%;
    /* margin-bottom: 30px; */
}
.card-1 .wrapper{
    background-image: none;
    border-radius: 15px;
    background-color: #141414;
    margin-bottom: 30px;

}
.service-image{
    overflow: hidden;;
    width: 510px;
    height: 520px;
}   
.service-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.services h3{
    text-transform: uppercase;
    font-family: var(--header-font);
    letter-spacing: normal;
    font-size: 35px;
    line-height: 40px;
    font-weight: 600;
}
.services h4{
    font-size: 22px;
    font-weight: 600;
}

.services p{
    font-size: 16px;
    color: #E0E0E0;
}
.services-contain{
    display: flex;
    flex-direction: column;
    /* gap: 10px; */

}
.services-contain p{
    margin-top: 10px;
    margin-bottom: 20px;
}
.services-contain p:first-child{
    margin-bottom: 10px;
}
.services-contain h3:first-child{
    margin-bottom: 20px;
}
.services-contain h4:last-child{
    margin-top: 20px;
}
.btn-1{
    height: max-content;
    width: max-content;
    margin-top: 40px;
}
.btn-1 span{
    opacity: 0.2;
}
.card-2 .wrapper{
    background-image: none;
    border-radius: 15px;
    background-color: #FFFFFF;
    margin-bottom: 30px;
}
.card-2 .wrapper h3{
    color: #090909;
}
.card-2 .wrapper h4{
    color: #090909;
}
.card-2 .wrapper p{
    color: #5E5E5E;
}
.card-2 .services-contain-2{
    display: flex;
    flex-direction: column;
    /* gap: 10px; */

}
.card-2 .services-data-2{
    margin-left: 40px;
    
}
.services-contain-2 p{
    margin-top: 10px;
    margin-bottom: 20px;
}
.services-contain-2 p:first-child{
    margin-bottom: 10px;
}
.services-contain-2 h3:first-child{
    margin-bottom: 20px;
}
.services-contain-2 h4:last-child{
    margin-top: 20px;
}
.card-3 .wrapper{
    background-image: none;
    margin-bottom: 80px;
    border-radius: 15px;
}
.card-3 h3{
    width: 70%;
}
.benefits-main i{
    font-size: 24px;
}
/* =================================Benefits================================= */
.benefits-main .benefits-h4{
    text-align: center;
    margin: 10px 0;
}
.benefits-main .benefits-p{
    text-align: center;
    color: #E0E0E0;
}
.benefits-h4{
    font-size: 22px;
}
.benefits-main i{
    display: flex;
    justify-content: center;
    
}
.benefits-main{
    margin:0 auto;
}
.succes-way{
    display: flex;
}
.benefits-main .benefits-main-2{
    /* margin: 0 60px; */
    justify-content: center;
}
.succes-way{
    margin-bottom: 80px;
}
/* ===========================================case study=================================== */
.casestudy-sec-1 .background-image{
   background-image:  radial-gradient(125.9% 125.9% at -5.5% 111.7%, rgb(180, 233, 37) 0%, rgb(20, 20, 20) 92.8557%);
   /* padding: 40px;    */
   border-radius: 15px;
   display: flex;
   justify-content: center;
}
.casestudy-sec-2 .background-image{
   background-image:  radial-gradient(125.29999999999998% 125.29999999999997% at 109.4% 108.4%,var(--token-418422ae-c2d7-406d-b663-74c4b3eabc44, #b4e925) 0%,rgb(20,20,20) 92.85566210746765%);
   /* padding: 40px;    */
   border-radius: 15px;
   display: flex;
   justify-content: center;
}
.background-image img{
    /* width: 510px;
    height: 530px; */
    padding: 120px 40px;
    object-fit: cover;
}
.casestudy .button-2 p{
    margin: 0;
}
.casestudy h2{
    font-family: var(--header-font);
    font-size: 55px;
    line-height: 55px;
    font-weight: 600;
    text-transform: uppercase;
}
.casestudy h4{
    font-size: 22px;
    font-weight:    600;
}
.casestudy p{
    color: #E0E0E0;
}
.cs-head{
    flex-direction: column;
    gap: 30px;
}
.cs-head{
    flex-direction: column;
    gap: 30px;
}
.cs-data h4{
    margin-top: 20px;
}
.casestudy .services-contain{
    padding-right:40px  ;
}
.cs-data p{
    padding-right: 40px;
}
.casestudy .services-data{
    margin-left: 30px;
}
.casestudy-sec-1{
    margin-bottom: 80px;
}
.casestudy-sec-2{
    margin-top: 80px;
    margin-bottom: 80px;
}
/* ============================================Testimonials========================================= */

.Testimonials h2{
    font-family: var(--header-font);
    font-size: 55px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    width: 60%;
    line-height: 55px;
    margin: 0 auto;
}
.Testimonials .main{
    background-image: none;
    margin: 30px 0;
    padding: 0;
}
.clients-tms p{
    padding: 0;
    margin: 0;
    color: #E0E0E0;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    /* width: 80%; */
    /* margin-bottom: 24px; */
    
}
.star{
    margin-bottom: 15px;
}
.clients-tms img{
    width: 46px;
    margin: 0;
    margin-right: 15px;
}
.clients-tms h4{
    font-weight: 600;
}
.client-name p{
    color: #E0E0E0;
    font-size: 14px;
    margin: 0;
}
.client-name{
    display: flex;
    margin-top: 24px;
}
.clients-tms{
    display: flex;
    box-sizing: border-box;
    column-gap: 60px;
    margin-bottom: 160px;
    margin-top: 30px;
}
/* ===============================bookcall====================== */
.book{
    padding: 80px 0;
    font-family: 'Proxima Nova Lt';
    /* font-weight: 900; */
}
.book-card-4 .book-card {
    align-items: center;
}

.book-wrap{
    margin: 0 auto;
    background-color: var(--white);
    max-width: 53%;
    height: max-content;
    padding: 25px 50px;
    border-radius: 10px;
    color: #1A1A1A;
}
.book .bc-card{
    padding: 20px;
    transition: 0.5s;
    height: 100%;
}
.book .bc-card:hover{
    background-color: #e7e7e7;
    height: 100%;
}
.book .bc-card .book-card{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.book-card{
    
    align-items: center;
}
.book .bc-card .book-card h3{
    font-size: 18px;
    line-height: 28px;
}
.book .bc-card .book-card h3 i{
    font-size: 30px;
    color: #4a91e9;
    margin-right: 10px;
}
.book .bc-card .book-card > i{
    font-size:25px;
}

.bc-card-1 .card-data{
    padding-bottom: 50px;
}

.book .bc-card .bc-card-2 h3 i{
    color: #dfc12d;
}
.book .bc-card .bc-card-3 h3 i{
    color: #8989fc;
}
.book .bc-card .bc-card-4 h3 i{
    color: #0cc0d7;
}
.book p{
    font-size: 14px;
    font-weight: 500;
    width: 80%;
    /* height: max-content; */
}
.book h3{
    font-weight: 900;
}
.bc-card-1 .wrapper{
    opacity: 0.1;
    margin-bottom:20px ;
    
}
.bc-card-2 .wrapper{
    opacity: 0.1;
    margin-bottom:20px ;
    
}
.bc-card-3 .wrapper{
    opacity: 0.1;
    margin-bottom:20px ;
    
}
.bc-card-4 .wrapper{
    opacity: 0.1;
    margin-bottom:20px ;
    
}


/* ===================================================FAQ=========================================== */

.FAQ .wrapper{
    width: 800px;
    height: 30px;
    background-image: none;
    margin: 0 auto;
    border-radius: 15px;
    height: max-content;
    background-color: #141414;
    margin-top: 30px;
    margin-bottom: -20px;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}
.FAQ .wrapper p{
    font-size: 18px;
    font-weight: 600;
    padding: 20px 20px 20px 24px;
}
.FAQ .wrapper i{
    text-align: right;
    margin: auto 0;
    align-self: flex-end;
}
.FAQ-btn a {
    display:flex;
    align-items: center;
    padding: 8px 18px;
    gap: 10px;
    font-weight: 500;
    background-color: #B4E925;
    border-radius: 25px;
    color: #090909;
    transition: all 0.5s;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 30px;   
    margin-bottom: 80px ;
    font-size: 20px;
    text-align: center;
    justify-content: center;
}
.FAQ-btn a:hover{
    color:#090909;
    background-color: #ffffff;
    padding: 8px 18px;
    border-radius: 20px;
    align-items: center;    
}

.FAQ-btn span{
    opacity: 0.1;
}
.FAQ-btn p{
    text-align: center;
}

/*============================footer========================= */
.footer{
    margin-top: 100PX;
}
.footer .f-icon i{
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    padding: 10px;
    align-items: center;
    color: var(--white);
}
.f-icon i:hover{
    color: var(--black);
    background-color: greenyellow;
}
.footer-data img{
    margin: 0 auto;
    align-items: center;
    margin-bottom: 20px;
}
.footer-data p{
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.footer-option p{
    padding-left: 20px;
    font-weight: 500;
}
.footer-option p:hover{
    color: #B4E925;
}
.footer-border{
    border-radius: 7px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin-bottom: 20px; 
}
.footer-copyright{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.footer-copyright h3:hover {
    color:var(--primary); 
}
.footer-copyright h3 span {
    font-weight: 400;
    color: var(--primary);
  font-size: 16px;
}
.footer-copyright p{
    font-size: 16px;
    font-weight: 400;
}
.footer-copyright h3{
    font-size: 16px;    
    font-weight: 400;
}